@font-face {
    font-family: 'UTM_Avo';
    src: url('./font/utm_avo/UTM Avo.eot');
    src: url('./font/utm_avo/UTM Avo.eot?#iefix') format('embedded-opentype'),
         url('./font/utm_avo/UTM Avo.woff') format('woff'),
         url('./font/utm_avo/UTM Avo.ttf') format('truetype'),
         url('./font/utm_avo/UTM Avo.svg#UTM Avo') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
	font:  Arial, Helvetica, sans-serif;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 9999;
}
.sf-menu > li {
	    float: right;
    height: 25px;
    line-height: 25px;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	/*float: left;*/
	margin-bottom: 1em;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
 /*   border-left: 1px solid #fff; */
  
    /* padding: .75em 1em; */
    text-decoration: none;
   
 /*   padding-left: 47px;
    padding-right: 47px!important;*/
}

.sf-menu a {
	    font-family: 'UTM_Avo';
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
}

.sf-menu a:hover{color:#FCE148}
.sf-menu li {
	
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
	       background: #0140A2;
    /* border-bottom: 1px solid #fff; */
    /* border-left: 5px solid #fff; */
    background-image: none!important;
    padding-left: 7px;
    padding-right: 17px;
    text-align: left;
}

.sf-menu ul li a{color:#fff;    text-transform: capitalize;}
.sf-menu ul li:hover a{color:#FCE148}
.sf-menu ul ul li {
	background: #9AAEDB;
}
.sf-menu li:hover,
,.sf-menu li.sfHover {
	background: #FF0000;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}


/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #fff; /* edit this to suit design (no rgba in IE8) */
	border-top-color: #fff;
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #FCE148; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
