/* Visit http://www.menucool.com/horizontal/javascript-menu for source code and other menu CSS templates */

#sse1
{
    /*You can decorate the menu's container, such as adding background images through this block*/
   
}
#sses1
{
   /* margin:0 auto;*//*This will make the menu center-aligned. Removing this line will make the menu align left.*/
	/* height: 21px;
    padding-top: 16px;*/
	display:inline-block;
}
#sses1 ul 
{ 
    position: relative;
    list-style-type: none;
	display:inline-block;
    padding:0;margin:0;
    
}
#sses1 li
{
    list-style-type: none;
    padding:0;margin:0;background-image:none;
}
/*CSS for background bubble*/
#sses1 li.highlight
{
    top:24px;
    height:3px;
    z-index: 1;
    position: absolute;
    overflow:hidden;
	background-color:#FF5A00;
	
	border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;	
}
#sses1 li a
{
    position: relative;
    z-index: 2;	
}